<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Details</title>
</head>
<body>
  <div class="self mobile-leaf contactFormContainer" style="width:485px;min-height:484px;">
<form id="B7F3F63A-4711-4023-A0AF-CF79D1B461CC" accept-charset="ISO-8859-1"  name="contact form"><div class="contact-form-field-container" dataformelement="Name" data-index="0"><label>Name * </label><input id="4B4201E9-BD82-4EDB-A019-607E6411E931" type="text" name="Name"></div><div class="contact-form-field-container" dataformelement="Phone" data-index="1"><label>Phone  </label><input id="15580530-2E6A-4ADA-A8F5-709DE604A1B8" type="tel" name="Phone"></div><div class="contact-form-field-container" dataformelement="Email" data-index="2"><label>Email * </label><input id="229CBD0A-F8FB-4023-8FE1-EEB7055154D3" type="email" name="Email"></div><div class="contact-form-field-container" dataformelement="Message" data-index="3"><label>Message * </label><textarea id="8E1AAE2B-C389-4877-96C0-ABB18B18C87F" type="text" name="Message"></textarea></div><input type="text"></div><div class="contact-form-submit-btn-container"><input class="button1" type="submit" value="SEND NOW"></div><div id="contactFormResponseContainer" class="contactFormResponseStatus"></div></form></div>
</body>
</html>