<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Welcome to the booking Website! </h1>


<table width="60%" align="center" >
    <div id="head_nav"> 
    <tr>Availability of the technician Daniel
        <th>Time</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
</div>  

    <tr>
        <th>10:00</th>
        
            <td>Free</td>
            <td>Free</td>
           <td>Free</td></td>
            <td>Free</td>
            <td>Free</td>
            <td>Free</td>
            
            <td title="No Class" class="Holiday">
        </div>
    </tr>

    <tr>
        <th>11:00</td>
        
            <td>Busy
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>
        </div>
    </tr>

    <tr>
<th>12:00</td>
        
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>

        </div>
    </tr>

    <tr>
        <th>01:00</td>
        
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Busy</td>

        </div>
    </tr>

    <tr>
        <th>02:00</td>
        
            <td>Free</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Busy</td>
            <td>Busy</td>
            <td>Free</td>
            <td>Free</td>

        </div>
    </tr>
</table>

<%= yield %>

</body>
</html>
